@font-face {
    font-family: Quintessential;
    src: url("../../resources/font/Quintessential-Regular.ttf");
}

.pane {
    -fx-background-image: url(../../resources/img/mainBackground.jpg);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    
}

.mainButton {
	
	-fx-pref-width: 400px;
	-fx-pref-height: 130px;
	-fx-min-width: 400px;
	-fx-min-height: 130px;
	-fx-font-weight: 400;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/buttonColor.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	-fx-opacity: 50%;
	
	
}

.mainButton:hover {
	
	-fx-background-image: url(../../resources/img/buttonColorHover.jpg);
	-fx-opacity: 100%;
	
}

.textButton {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: Quintessential;
	-fx-font-size: 96px;
	-fx-color: #FFFFFF;
}


.optionButton {
	-fx-pref-width: 273px;
	-fx-pref-height: 85px;
	-fx-min-width: 273px;
	-fx-min-height: 85px;
	-fx-font-weight: 400;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/buttonColor.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
	-fx-opacity: 50%;
}

.optionButton:hover {
	-fx-background-image: url(../../resources/img/buttonColorHover.jpg);
	-fx-opacity: 100%;
}

.textOptionButton {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: Quintessential;
	-fx-font-size: 40px;
	-fx-color: #FFFFFF;
}

.PlayersButton {
	-fx-pref-width: 250px;
	-fx-pref-height: 60px;
	-fx-font-weight: 400;
	-fx-background-image: url(../../resources/img/buttonColor.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
	-fx-opacity: 50%;
}

.PlayersButton:hover {
	-fx-background-image: url(../../resources/img/buttonColorHover.jpg);
	-fx-opacity: 100%;
}

.PlayersButtonText {
	-fx-text-fill: #FFFFFF;
	-fx-font-family: Quintessential;
	-fx-font-size: 25px;
	-fx-color: #FFFFFF;
}

.RulesBackground {
	-fx-font-weight: 400;
	-fx-background-image: url(../../resources/img/buttonColor.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
	-fx-opacity: 100%;
}