@font-face {
    font-family: Quintessential;
    src: url("../../resources/font/Quintessential-Regular.ttf");
}

.pane {
    -fx-background: #0F34B9;
}

.defausse {
	
	-fx-pref-width: 150px;
	-fx-pref-height: 265px;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/Defausse.png);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	
}

.pioche {
	
	-fx-pref-width: 163px;
	-fx-pref-height: 200px;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/Pioche.png);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	
}

.mainPlayerCard {
	
	-fx-pref-width: 150px;
	-fx-pref-height: 200px;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/DosCarte.png);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	
}


.otherPlayerCard {
	
	-fx-pref-width: 150px;
	-fx-pref-height: 200px;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/DosCarte.png);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	
}

.placedCard {
	
	-fx-pref-width: 150px;
	-fx-pref-height: 200px;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/DosCarte.png);
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	
}

.escapeMenu {
	
	-fx-pref-width: 700px;
	-fx-pref-height: 393.56px;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background: #000000;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
	
}

.menuOption {
	-fx-pref-width: 273px;
	-fx-pref-height: 85px;
	-fx-font-weight: 400;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/buttonColor.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
	-fx-opacity: 50%;
}

.menuOption:hover {
	-fx-background-image: url(../../resources/img/buttonColorHover.jpg);
	-fx-opacity: 100%;
}

.menuOption .text {
	-fx-fill: #000000;
	-fx-font-family: Quintessential;
	-fx-font-size: 40px;
}

.textPlayer {
    -fx-text-fill: #000000;
    -fx-font-family: Quintessential;
    -fx-font-size: 40px;
    -fx-color: #000000;
}

.submitButton {
	-fx-pref-width: 163px;
	-fx-pref-height: 56px;
	-fx-font-weight: 400;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/buttonColor.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
	-fx-opacity: 50%;
}

.submitButton:hover {
	-fx-background-image: url(../../resources/img/buttonColorHover.jpg);
	-fx-opacity: 100%;
}

.submitButton .text {
    -fx-fill: #000000;
    -fx-font-family: Quintessential;
    -fx-font-size: 28px;
}

.okButton {
	-fx-pref-width: 250px;
	-fx-pref-height: 60px;
	-fx-font-weight: 400;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
	-fx-background-image: url(../../resources/img/buttonColor.jpg);
	-fx-background-repeat: no-repeat;
	-fx-background-size: stretch;
	-fx-opacity: 50%;
}

.okButton:hover {
	-fx-background-image: url(../../resources/img/buttonColorHover.jpg);
	-fx-opacity: 100%;
}

.okButton .text {
	    -fx-font-family: Quintessential;
	    -fx-font-size: 28px;
    	-fx-fill: #000000;
}

.playerNameFont {
    	-fx-font-family: Quintessential;
    	-fx-font-size: 36px;
    	-fx-color: #000000;	
}

.playOptionButton {
    	-fx-pref-width: 323px;
    	-fx-pref-height: 77px;
    	-fx-font-weight: 400;
	-fx-border-radius: 15px;
	-fx-background-radius: 15px;
    	-fx-background-image: url(../../resources/img/buttonColor.jpg);
    	-fx-background-repeat: no-repeat;
    	-fx-background-size: stretch;
	-fx-opacity: 50%;
}

.playOptionButton:hover {
	-fx-background-image: url(../../resources/img/buttonColorHover.jpg);
	-fx-opacity: 100%;
}

.playOptionButton .text {
    	-fx-font-family: Quintessential;
    	-fx-font-size: 36px;
    	-fx-fill: #000000;
}

.returnArrow {
	-fx-background-color: transparent; 
	-fx-background-image: url(../../resources/img/returnArrow.png);
	-fx-background-size: cover;

}

.button1 {
	-fx-background-image: url(../../resources/img/Button/Button1.png);
	-fx-background-size: cover;
}

.button2 {
	-fx-background-image: url(../../resources/img/Button/Button2.png);
	-fx-background-size: cover;
}

.button3 {
	-fx-background-image: url(../../resources/img/Button/Button3.png);
	-fx-background-size: cover;
}

.button4 {
	-fx-background-image: url(../../resources/img/Button/Button4.png);
	-fx-background-size: cover;
}

.button5 {
	-fx-background-image: url(../../resources/img/Button/Button5.png);
	-fx-background-size: cover;
}
