@font-face {
    font-family: Quintessential;
    src: url("../../resources/font/Quintessential-Regular.ttf");
}

.pane {
    -fx-background-image: url(../../resources/img/Score-Background.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
}